<div class="navbar bg-base shadow-md">
  <div class="navbar-start">
    <a class="btn btn-ghost text-xl">{{ "courseProject" | translate }}</a>
  </div>
  <div class="navbar-center">
    <ul class="menu menu-horizontal px-1">
      @if(!currentUserSvc.isAuthenticated()){
      <li>
        <a routerLink="/register">{{ "register" | translate }}</a>
      </li>
      <li>
        <a routerLink="/login">{{ "login" | translate }}</a>
      </li>
      }
    </ul>
  </div>
  <div class="navbar-end">
    <ul class="menu menu-horizontal gap-1">
      @if(currentUserSvc.isAuthenticated()){
      <app-profile-dropdown />
      }

      <app-lang-switch />
      <button class="btn btn-ghost p-2" (click)="toggleTheme()">
        <mat-icon [svgIcon]="theme.isDark() ? 'sun' : 'moon'"></mat-icon>
      </button>
    </ul>
  </div>
</div>
