<div class="navbar bg-base shadow-md">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">Course Project</a>
  </div>
  <div class="flex-none gap-2">
    <ul class="menu menu-horizontal px-1">
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/register">Register</a></li>
    </ul>
    <button class="btn btn-ghost p-2" (click)="toggleTheme()">
      @switch (currentTheme) { @case ('light') {
      <mat-icon svgIcon="sun" class="h-6 w-6"></mat-icon>
      }@case ('dark') {
      <mat-icon svgIcon="moon" class="h-6 w-6"></mat-icon>
      } }
    </button>
  </div>
</div>
