<div class="navbar bg-base shadow-md">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">{{ "courseProject" | translate }}</a>
  </div>
  <div class="flex-none items-center gap-3">
    <ul class="menu menu-horizontal p-auto">
      <li>
        <a routerLink="/register">{{ "register" | translate }}</a>
      </li>
      <li></li>
    </ul>
    <app-lang-switch />
    <button class="btn btn-ghost p-2" (click)="toggleTheme()">
      <mat-icon [svgIcon]="theme.isDark() ? 'sun' : 'moon'"></mat-icon>
    </button>
  </div>
</div>
