<section class="max-w-7xl mx-auto mt-6 px-4">
  <div class="grid gap-2 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mb-3">
    <input
      type="text"
      placeholder="{{ 'home.searchPlaceholder' | translate }}"
      class="input input-base w-full max-w-md"
      [ngModel]="searchRaw()"
      (ngModelChange)="onSearchInput($event)"
    />
    @if(currentUserService.currentUser$()){
    <label class="label">
      <input
        type="checkbox"
        [checked]="myOnly()"
        (change)="onToggleMyOnly($event)"
        class="toggle"
      />
      {{ "home.switch_isMy" | translate }}
    </label>

    }
  </div>

  @if (loading()) {
  <div class="flex justify-center">
    <span class="loading loading-dots loading-xl"></span>
  </div>

  }@else {
  <div class="overflow-x-auto shadow rounded-lg">
    <table class="table w-full">
      <thead>
        <tr class="bg-base-200">
          <th class="w-20">{{ "home.table.photo" | translate }}</th>
          <th>{{ "home.table.name" | translate }}</th>
          <th>{{ "home.table.owner" | translate }}</th>
          <th class="text-right">{{ "home.table.itemsCount" | translate }}</th>
          <th class="text-right">{{ "home.table.likesCount" | translate }}</th>
          <th class="text-right"></th>
        </tr>
      </thead>
      <tbody>
        @for (inv of items(); track inv.id) {
        <tr
          [routerLink]="['/inventories', inv.id]"
          class="hover:bg-base-300 transition-all duration-100 cursor-pointer"
        >
          <td>
            @if (inv.imageUrl) {
            <div class="avatar">
              <div class="mask mask-squircle w-18 h-14 md:w-24 md:h-20">
                <img [src]="inv.imageUrl" alt="inventory image" />
              </div>
            </div>
            } @else {
            <div
              class="mask mask-squircle w-18 h-14 md:w-24 md:h-20 bg-base-200 flex items-center justify-center text-xs text-gray-400 rounded"
            >
              no img
            </div>
            }
          </td>
          <td class="font-medium">{{ inv.title }}</td>
          <td>{{ inv.ownerName }}</td>
          <td class="text-right">{{ inv.itemsCount }}</td>
          <td class="text-right">{{ inv.likesCount }}</td>
          <td class="text-right">
            <button
              class="btn btn-gost"
              (click)="$event.stopPropagation()"
              [routerLink]="['/discussion', inv.id]"
            >
              <mat-icon [svgIcon]="'chat'"></mat-icon>
            </button>
          </td>
        </tr>
        } @if (!loading() && items().length === 0) {
        <tr>
          <td colspan="5" class="text-center text-gray-400 py-6">
            {{ "home.not_found" | translate }}
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  @if(totalPages()>1){
  <div class="flex justify-between items-center mt-4">
    <div class="text-sm text-gray-500">
      {{ "home.totalCount" | translate }}: {{ totalCount() }}
    </div>

    <div class="join">
      <button
        class="join-item btn btn-sm"
        [disabled]="page() === 1"
        (click)="prevPage()"
      >
        «
      </button>

      @for (p of [page()-2, page()-1, page(), page()+1, page()+2]; track p) {
      @if (p >= 1 && p <= totalPages()) {
      <button
        class="join-item btn btn-sm"
        [class.btn-active]="p === page()"
        (click)="setPage(p)"
      >
        {{ p }}
      </button>
      } }

      <button
        class="join-item btn btn-sm"
        [disabled]="page() === totalPages()"
        (click)="nextPage()"
      >
        »
      </button>
    </div>
  </div>
  } }
</section>
